name: Download FFmpeg
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download FFmpeg
        run: |
          curl -L https://www.gyan.dev/ffmpeg/builds/ffmpeg-git-full.7z --output ffmpeg.7z \
          7z x -y .\ffmpeg.7z
          mv .\ffmpeg-*\* .\
          rmdir .\ffmpeg-* -Force
